{% extends './base.html' %}
{% block titulo %}Inicio{% endblock %}
{% block cuerpo %}
    <body>
        <div>
            {% for order in orders %}
            <p> 
                ID: {{ order.order_id }}, {{ order.date }}  , Ordenado por {{ order.owner_id }}, Precio {{ order.cost }} 
                <form action="{{ url_for('entregar', pedido_id = pedido.id) }}" method="post" style="display: inline;">
                    <button type="submit">Marcar como entregado</button>
                </form>
            </p>
            {% endfor %}
        </div>
    </body>
{% endblock %}