{% extends './base.html' %}
{% block titulo %}Inicio{% endblock %}
{% block cuerpo %}
    <body>
        <div>
            {% for order in orders %}
            <p> 
                {% for key, value in order.items() %}
                    <li>{{key}} {{value}}</li>
                {% endfor %}
                <form action="{{ url_for('pedidos', order_id=order['numero de orden']) }}" method="post" style="display: inline;">
                    <button type="submit">Marcar como entregado</button>
                </form>
            </p>
            {% endfor %}
        </div>
    </body>
{% endblock %}